#container {
    background: yellow;
    width: 1500px;
    height: 1500px
}

#Logo {
    background-color:#F40808;
    background-image: url('../img/Logo.jpg');
    width:200px;
    height:200px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.header {
    /* display:inline-block; */
    color: #080808;
    background-color: aqua;
    margin-left: 200px;
    width: 1300px;
    height: 200px;
}

#menu {
    background-color: green;
    height: 80px;
    width: 1500px;

}

.text {
    background-color: purple;
    padding-top: 90px;
    padding-right: 90px;
    text-align: center;
}

.button {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 80px;
    color: black;
    border: solid;
    border-radius: 40px;
}
a:hover {
    background-color: aquamarine;
}

#content {
    margin-left: 50px;
    margin-top: 50px;
    padding-right: 100px;
    width: 1300px;
    background-color: antiquewhite;
    font-size: 50px;
}