#container1 {
    /* background: yellow; */
    width: 1500px;
    height: 1500px
}

#Logo {
    background-image: url('../img/Logo.jpg');
    width:130px;
    height:130px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#header {
    /* display:inline-block; */
    color: #080808;
    background-color: #f40808;
    margin-left: 130px;
    width: 1370px;
    height: 130px;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

#menu {
    display: inline-block;
    background-color: #918d8d;
    height: 80px;
    width: 1500px;

}

#menu a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 120px;
    height: 40px;
    color: black;
    border: solid 2px;
    border-radius: 40px;
    margin-left: 140px;
    margin-top: 13px;
    padding-bottom: 12px;
    font-size: 13px;
}

#menu a:hover {
    background-color: #e74545;
}

#indice {
    display: inline-block;
    position: relative;
    background-color: yellowgreen;
    width: 180px;
    height: 700px;
    margin-bottom: 50px;
    text-decoration: none;
}

#indice h3 {
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    
}

hr {
    background-color: black;
    height: 4px;
}

.content {
    position:relative;
    bottom: 325px;
    display: inline-block;
    width: 1320px;
    height: 700px;
    display: inline-block;
    background: #e74545;
    font-size: 50px;
}

.content h3 {
    margin-left: 30px;
    background-color: bisque;
    font-size: 50px;
}