#container1 {
    /* background: yellow; */
    width: 1500px;
    height: 1500px;
}

#Logo {
    background-image: url('../img/Logo.jpg');
    width:130px;
    height:130px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#header {
    /* display:inline-block; */
    background-image: url("../img/2.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    color: #080808;
    background-color: #f40808;
    margin-left: 130px;
    width: 1370px;
    height: 130px;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}

#menu {
    display: inline-block;
    background-color: #918d8d;
    height: 80px;
    width: 1500px;

}

#menu a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 120px;
    height: 40px;
    color: black;
    border: solid 2px;
    border-radius: 40px;
    margin-left: 140px;
    margin-top: 13px;
    padding-bottom: 12px;
    font-size: 13px;
}

#menu a:hover {
    background-color: #e74545;
}

#indice {
    display: inline-block;
    position: relative;
    background-color: yellowgreen;
    width: 180px;
    height: 1300px;
    margin-bottom: 50px;
    text-decoration: none;
}

#indice h3 {
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    
}

hr {
    background-color: black;
    height: 4px;
}

.content {
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    /* bottom: 325px; */
    display: inline-block;
    width: 1320px;
    height: 1300px;
    display: inline-block;
    /* background: #e74545; */
    
}

.content h3 {
    margin-left: 70px;
    /* background-color: bisque; */
    font-size: 50px;
}

.content ul {
    font-size: 25px;
    margin-left: 70px;
}   

.content a {
    position: relative;
    top: 30px;
    text-decoration: none;
    background-color: rgb(21, 255, 0);
    padding: 20px;
    border-radius: 30px;
    margin-left: 90px;
    font-size: 20px;
}